---
import { changelog } from "../changelog";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>Changelog</h1>
    <span class="subtle">
      ----------------------------------------------------------------------------------------------------
    </span>

    <ul>
      {
        changelog.map((entry) => {
          let verb;
          if (entry.from) {
            verb = "Updated";
          } else {
            verb = "Added";
          }
          return (
            <li>
              {new Date(entry.at).toISOString().split(".")[0].replace("T", " ")}{" "}
              UTC: {verb} {entry.id}
            </li>
          );
        })
      }
    </ul>
  </main>

  <style>
    main {
      max-width: 1000px;
      margin: 50px;
    }
  </style>
</Layout>
