---
import "../styles.css";

interface Props {
  viewport?: string;
}

const { viewport } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content={viewport ?? "width=device-width,initial-scale=0.7"}
    />
    <link rel="icon" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Isleward Assets</title>
  </head>
  <body>
    <slot />
  </body>
</html>
